<h3>Your Movements</h3>

<% if @user_movements.empty? %>
No movements created yet
<% else %>
<% @user_movements.each do |m| %>
  <p>
        <form action="/movements/<%= m.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete">
          <%= m.name %>
        </form>
  </p>
  <% end %>
<% end %>


+ <a href="/movements/new">Add a movement</a></br>
+ <a href="/workouts/new">Add a workout</a>
