<h3>Your Movements</h3>


<% Movement.all.each do |m| %>
  <p>
        <form action="/movements/<%= m.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete">

    <%= m.name %>
  </p>
  <% end %>


+ <a href="/movements/new">Add a movement</a></br>
+ <a href="/workouts/new">Add a workout</a>
