<h3>Create a new workout</h3>


<form action="/workouts/new" method="POST">
  <!-- add different method for date input later? -->
  Type:
  <select name="workout[type]">
    <option value="emom">EMOM</option>
    <option value="amrap">AMRAP</option>
    <option value="time_cap">Time Cap</option>
    <option value="for_time">For Time</option>
  </select>

Enter time: <input type="text" name="workout[time]">
</p>

  Movement:

    <select name="workout[type]">
    <% Movement.all.each do |m| %>
    <option value="<%=m.name%>"><%=m.name%></option>
    <% end %>
  </select>


  Weight: <input type="text" name="workout[weight]">

  Reps: <input type="text" name="workout[reps]">

<p>+ add a movement</p>
</form>


<p><a href="/movements/new">Create a new movement</a></p>
