<h3>Create a new workout</h3>

<p>

<form action="/workouts/new" method="POST">
  <!-- add different method for date input later? -->
  Type:
  <select name="workout[name]">
    <option value="emom">EMOM</option>
    <option value="amrap">AMRAP</option>
    <option value="time_cap">Time Cap</option>
    <option value="for_time">For Time</option>
  </select>

Enter time: <input type="text" name="workout[time]">
</p>

<!-- how to properly add movement info using join table? -->
  <p>Movement(s):</br>
    <i>Missing a movement? Make sure to first manage your movements <a href="/movements">here</a>.</i>
  </p>

    <select name="movement[name]">
    <% Movement.all.each do |m| %>
    <option value="<%=m.name%>"><%=m.name%></option>
    <% end %>
  </select>


  Weight: <input type="text" name="workout_movements[weight]">

  Reps: <input type="text" name="workout_movements[reps]">

  <!-- how to do this so it dynamically adds another field above? -->
  <p>+ add a movement</p>

  <p><input type="submit" value="Add Workout"></p>
</form>

User

Workout (belongs to user) -> :name, :time, need id of workout to save to w_m table
Movement (belongs to workout) -> :name, need the id of this movement to add to w_m table
:weight, :reps -> workout_movements
+ need instance of w_m created!
