<h2>Your Workouts</h2>

<a href="/workouts/new">Add a workout</a> | <a href="/movements">Manage your movements</a>

<p>

<% if @workouts.empty? %>
You have no workouts yet!
<% else %>

<!-- display workouts -->

  <% @workouts.each do |w| %>

    <h4><a href="/workouts/<%= w.id %>">| <%= w.name.upcase %> | created: <%=w.created_at.strftime("%d %b, %Y")%></a></h4>
  <% end %>
<% end %>
