<h2>Your Workouts</h2>

<a href="/workouts/new">Add a workout</a> | <a href="/movements">Manage your movements</a>

<p>

<% if Workout.all.empty? %>
You have no workouts yet!
<% else %>

<!-- display workouts -->

  <% Workout.all.each do |w| %>

    <h4>| <%= w.name %></h4>
  <% end %>
<% end %>
