
<h3>Login</h3>

<p>
<% if flash[:message] %>
  <font color="red"><%= flash[:message] %></font>
<% end %>
</p>

<form action="/login" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password"></p>
  <p><input type="submit" value="Login"></p>
</form>
